<div class="patientSearchResults">
    <p-table class="resultsTable text-center" [value]="patientSearchResults">
        <ng-template pTemplate="header">
            <tr>
                <th>Pacient</th>
                <th>CNP</th>
                <th>Data nasterii</th>
                <th>Ultima prezentare</th>
                <th>Departament</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-result>
            <tr>
                <td>{{ result.patientName }}</td>
                <td>{{ result.cnp}}</td>
                <td>{{ result.birthdate}}</td>
                <td>{{ result.eocDate}}</td>
                <td>{{ result.department}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>