<div class="something2" style="margin: 0 20px; overflow: hidden;">
    <h2 class="mt-3 mb-1">Registru Pacienti</h2>
    <hr class="mt-0">
    <div class="row">
        <div class="col-6">
            <patient-register-search (selectedPatient)="getSelectedPatient($event)" (refreshButton)="checkIfTableIsRefreshed($event)"></patient-register-search>
        </div>
        <div class="col-6">
            <patient-register-information [sendSelectedPatient]="currentSelectedPatient" [refreshTableButton]="refreshTable"></patient-register-information>
        </div>
    </div>
</div>
