<!-- Div to be replaced -->
<div class="navbarIW" style="border: 1px solid red; height: 7vh; margin-bottom: 1%; width: 100%;"></div>

<div class="row" style="width: 100%; margin: 0;">
    <!-- Div to be replaced -->
    <div class="colSMTH" style="border: 1px solid red; height: 90vh; width: 3%;"></div>

    <!-- Registru -->
    <div class="col-11 ml-3 pr-0" style="border: 1px solid green;">
        
        <h3 class="mt-3 mb-1">Registru</h3>
        <hr class="mt-0">
        <div class="row">
            <div class="col-6">
                <patient-register-search></patient-register-search>
            </div>
            <div class="col-6">
                <patient-register-information></patient-register-information>
            </div>
        </div>

    </div>
</div>