<div class="patientRegisterSearch">
    <div class="row">
        <div class="col-12 pr-1 ml-1">
            <div class="patientSearch">
                <p-accordion expandIcon="pi pi-fw pi-chevron-right sm" collapseIcon="pi pi-fw pi-chevron-down" class="searchAcc">
                    <p-accordionTab header="Cautare" [selected]="true">
                        <form #patientSearchForm="ngForm">
                            <div class="row">
                                <div class="col-5">
                                    <label for="multipleSearch" class="labelFont mb-1">Cod prezentare | Nume pacient | Data nastere | CNP | Telefon</label>
                                    <input 
                                        id="multipleSearch" 
                                        name="multipleSearch"
                                        type="text"
                                        appendTo="body"
                                        [(ngModel)]="multipleSearch"
                                        style="width: 100%;"
                                        pInputText>
                                </div>
                                
                                <div class="col-3 pl-0">
                                    <span>
                                        <label for="departmentID" class="labelFont mb-1">Departament</label>
                                        <p-dropdown 
                                            id="departmentID" 
                                            name="departmentID"
                                            type="text"
                                            appendTo="body"
                                            [options]="departmentOptions" 
                                            [(ngModel)]="departmentID">
                                        </p-dropdown>
                                    </span>
                                </div>
            
                                <div class="col-2 mt-4">
                                    <button class="btn btn-sm btn-raised btn-info buttonSearch" [disabled]="!multipleSearch && !departmentID" (click)="search()">Cauta</button>
                                </div>
                                <div class="col-2 mt-4">
                                    <button class="btn btn-sm btn-raised buttonReset" (click)="refreshTable()">Reseteaza</button>
                                </div>
                            </div>
                        </form>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 pr-1 ml-1 mt-1">
            <div *ngIf="message" class="text-center">
                <h4>{{ message }}</h4>
            </div>
            <div class="patientSearchResults">
                <p-table #patientsTable
                    *ngIf="visible && patientSearchResults && patientSearchResults.length > 0 && !message"
                    class="resultsTable text-center" 
                    [rows]="10"
                    [paginator]="true" 
                    [value]="patientSearchResults" 
                    [loading]="loading"
                    [lazy]="true"
                    [scrollable]="true"
                    scrollHeight="60vh"
                    [totalRecords]="totalRecords"
                    dataKey="id"
                    (onLazyLoad)="lazyFetch($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Pacient</th>
                            <th>CNP</th>
                            <th>Data nasterii</th>
                            <th>Ultima prezentare</th>
                            <th>Departament</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-result>
                        <tr>
                            <td><a class="styleSelectedPatient" (click)="selectPatient(result)">{{ result.patientName }}</a></td>
                            <td>{{ result.cnp}}</td>
                            <td>{{ result.birthdate}}</td>
                            <td>{{ result.eocDate}}</td>
                            <td>{{ result.department}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>