.patientInformation{
    background-color: white;
    padding: 0 5px;
}

.styleSelectedEOC{
    color: rgb(29, 172, 207);
    cursor: pointer;
    font-size: 1.5em
}
.styleSelectedEOC:hover{
    color: rgb(24, 134, 161);
}

/* Invalid or required fields */
.invalidCNP{
    background-color: rgb(231, 209, 209);
}
.requiredDepartment, .requiredLastname, .requiredIDType, .requiredFirstname, .requiredBirthWeight, .requiredSeries, .requiredSeriesNumber, .requiredCID, .requiredIssuedBy, .requiredIssueDate{
    background-color: rgb(231, 209, 209);
}
/* -------------------------- */

.labelFont{
    font-size: 11px;
}

.inputFormat{
    width: 100%;
}

.readonlyInputFormat{
    width: 100%;
    background-color: #e4e4e4;
}

.subtitle p{
    display: inline-block;
    color: #2d82bb;
    margin-right: 2%;
}
.subtitle .line{
    display: inline-block;
    border: 1px dashed #2d82bb;
    width: 83%;
}
.subtitle .line2{
    display: inline-block;
    border: 1px dashed #2d82bb;
    width: 85%;
}
.subtitle .line3{
    display: inline-block;
    border: 1px dashed #2d82bb;
    width: 82%;
}
.subtitle .line4{
    display: inline-block;
    border: 1px dashed #2d82bb;
    width: 78%;
}


/* Actions */
.actions button{
    float: right;
    margin-top: 8px;
}
.actions{
    margin-left: 9px;
    width: 923px;
    background-color: lightgrey;
    height: 50px;
}

/* MESSAGE */
.message{
    margin-left: 9px;
    width: 923px;
}
::ng-deep .message .ui-messages .ui-messages-close{
    top: 1.3em !important;
    right: 1.5em !important;
    font-size: 1em !important;
}
::ng-deep .message .ui-messages .ui-messages-icon{
    font-size: 1.5em !important;
}

.cancelButton{
    border-color: orange;
    background-color: orange;
    color: white;
}

.saveButton{
    border-color: #2d82bb;
    background-color: #2d82bb;
    color: white;
}

::ng-deep .issueDateCalendar .ui-calendar input{
    max-width: 59%;
}
::ng-deep .episodeOfCareCalendar .ui-calendar input{
    width: 88%;
}
::ng-deep .ui-calendar button{
    height: 34px;
    padding-bottom: 1px;
}

::ng-deep .dropdownFormat .ui-dropdown, ::ng-deep .episodeOfCareCalendar .ui-calendar{
    width: 100% !important;
}
::ng-deep .dropdownFormat .ui-dropdown{
    min-width: 1em !important;
}

::ng-deep .patientInformation .patientTabs .ui-tabview-panels {
    padding: 0px !important;
}

::ng-deep .patientTabs .ui-tabview{
    padding-bottom: 0 !important;
}

/* Selected Tab */
::ng-deep .patientInformation .patientTabs .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-tabview-selected, .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-tabview-selected, .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-tabview-selected, .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-tabview-selected{
    border-bottom: 0;
}

::ng-deep .patientInformation .patientTabs .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-tabview-selected):hover, .ui-tabview.ui-tabview-bottom .ui-tabview-nav li:not(.ui-tabview-selected):hover, .ui-tabview.ui-tabview-left .ui-tabview-nav li:not(.ui-tabview-selected):hover, .ui-tabview.ui-tabview-right .ui-tabview-nav li:not(.ui-tabview-selected):hover{
    border-bottom: 0;
}

/* Selected Tab */
::ng-deep .patientInformation .patientTabs .ui-tabview ul li.ui-tabview-selected a{
    background-color: #b5d0e2 !important;
    color: #2d82bb !important;
    font-weight: bold;
}

::ng-deep .patientInformation .patientTabs .ui-tabview ul{
    height: 44px;
    background-color: lightgrey; 
}

::ng-deep .patientInformation .patientTabs .ui-tabview ul li{
    height: 32px;
    padding-bottom: 5px;
    border-bottom: 0;
    width: 190px;
    text-align: center;
    box-shadow: none !important;
    border: none !important;
}
::ng-deep .patientInformation .patientTabs .ui-tabview ul>li:focus{
    border: none !important;
}

::ng-deep .patientInformation .patientTabs .ui-tabview ul li a{
    color: white !important;
    background-color: #2d82bb !important;
    border: 1px solid white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 4px 30px 6px;
    font-weight: bold;
    width: 190px;
    text-align: center;
}

/* First Tab */
::ng-deep .patientInformation .patientTabs .ui-tabview ul li:nth-child(1){
    margin-left: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

::ng-deep .patientInformation .patientTabs .ui-tabview ul li:nth-child(1).ui-tabview-selected a{
    background-color: white !important;
}

::ng-deep .patientInformation .patientTabs .ui-tabview ul li:nth-child(1) a{
    background-color: lightgrey !important;
    color: rgb(63, 62, 62) !important;
    font-weight: bold;
}

/* Tabs from right side */
::ng-deep .patientInformation .patientTabs .ui-tabview ul li:nth-child(2){
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10px;
    float: right ;
    margin-right: 10px;
}

::ng-deep .patientInformation .patientTabs .ui-tabview ul li:nth-child(3){
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10px;
    float: right ;
}

::ng-deep .patientInformation .patientTabs .ui-tabview ul li:nth-child(4){
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10px;
    float: right ;
}

/* ---------------- */
/* -- INNER TABS -- */
/* ---------------- */
.innerTabs{
    background-color: white;
}

.innerTabViews{
    height: 6px;
}

::ng-deep .innerTabs .innerTabViews .ui-tabview-panels{
    border: none !important;
}

::ng-deep .innerTabs .innerTabViews .ui-tabview ul{
    height: 35px;
    background-color: white !important;
    text-align: center;
    border-bottom: 3px solid lightgrey;
    padding-bottom: 33px !important;
}

/* Unselected Tab */
::ng-deep .innerTabs .innerTabViews .ui-tabview ul li a{
    background-color: lightgrey !important;
    color: grey !important;
    text-align: center;
    width: 100% !important;
    padding-left: 2%;
    padding-right: 2%;;
}

::ng-deep .innerTabs .innerTabViews .ui-tabview ul>li{  
    float: left !important;
    margin: 0 !important;
    padding: 0px !important;
    text-align: center;
    width: 16.5% !important;
    box-shadow: none !important;
    border: none !important;
}

::ng-deep .innerTabs .innerTabViews .ui-tabview ul>li:focus{
    border: none !important;
}

/* Selected Tab */
::ng-deep .innerTabs .innerTabViews .ui-tabview ul li:nth-child(1).ui-tabview-selected a, ::ng-deep .innerTabs .innerTabViews .ui-tabview ul li.ui-tabview-selected a{
    background-color: rgb(235, 235, 235) !important;
    color: black !important;
}
